:root{
    --bg_name: #808080;
    --bg_primary: #B91450;
    --bg_btn: #CCCCCC;

}

.bg_primary{
    background-color: var(--bg_primary);
}

.primary{
    color: var(--bg_primary);
}

.bg_name{
    background-color: var(--bg_name);
}

.border_prime{
    border: 1px solid var(--bg_primary);
}

p{
    display: flex;
    align-self: center;
}

.btn_s{
    border: none;
    color: var(--bg_primary);
    background-color: var(--bg_btn);
    border: 1px solid var(--bg_primary);
    border-radius: 0.2rem;
    margin: 0 0.5rem;
    display: inline-block;
}